// Webfonts
//
// Self-hosting webfonts using @font-face rule

@font-face {
  font-family: "IBMPlexSans";
  src: url("../assets/IBMPlexSans-Text.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../assets/IBMPlexSans-TextItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
